{% extends "layout.html" %} {% block title %} Home {% endblock %} 
{% block content  %}

<div class="row">
        <div class="col-md-6 col-md-offset-3">
                <h2>data</h2>
                {% if session['name']%}
                <p>You login as {{session['name'] }} {{session['prenom']}}</p>   
                        {% if datas != None %}
                <canvas id="lineChart" width="900" height="400"></canvas>
                <script>
                        var ctx = document.getElementById("lineChart").getContext("2d");
                        var lineChart = new Chart(ctx, {
                                type: 'line', 
                                data: {
                                        labels: {{ date | safe}},
                                        datasets: [
                                                {
                                                label: "Température",
                                                data: {{ temp | safe}},
                                                fill: false, 
                                                borderColor: "rgb(75, 192, 192)", 
                                                lineTension: 0.1
                                        },
                                                {
                                                label:"Humidité",
                                                data: {{ humi | safe}},
                                                fill: false, 
                                                borderColor: "rgb(220,20,60)",
                                                lineTension: 0.1
                                        }
                                ]
                                },
                                options: {
                                        responsive: true
                                }
                        });
                </script>
                        {% for i in datas %}  
                        <ul>
                            <li>
                             id : {{ i.releve_id }} temp : {{ i.releve_temp }} date : {{ i.releve_date }} 
                            </li>
                        </ul>
                     {% else %}
                        <h1>AUCUNE DATA</h1>
                        {% endfor%}
                {% endif %}
                {% else %}
                <p>Not logged yet</p>
                {% endif %}
        </div>
</div>

{% endblock %}