{% extends "layout.html" %} {% block title %} Login {% endblock %}

{% block content %}

<link rel="stylesheet" href="../static/style.css">

<div class="div-form">

        <div class="div-form-title">
                <h1>Login</h1>

        </div>

        <hr style="width: 80%; height: 0.5px; background-color: rgb(255, 255, 255);">

        <form class="div-form-info" action="/login" method="POST">

                <div class="form-group-input">
                        <input type="text" class="div-form-info-text" name="email" placeholder="E-mail" required>
                </div>
                <div class="form-group-input">
                        <input type="password" class="div-form-info-text" name="password" placeholder="Password"
                                required>
                </div>

                <div>
                        <button type="submit" class="btn-primary">Login</button>
                </div>
        </form>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <hr style="width: 80%; height: 0.5px; background-color: rgb(255, 255, 255);">

        <div class="div-form-register">
                <h2>Pas de compte ?</h2>
                <a href="/register">Créer un compte</a>
        </div>

</div>

{% endblock %}