{% extends "layout.html" %} {% block title %} Home {% endblock %} 
<link rel="stylesheet" href="../static/style.css">

{% block content %}

        <div class="sonde">
                <h2 class="sonde-title">Welcome!</h2>
        
               
                {% if session['name']%}
                <p>You login as {{session['name'] }} {{session['prenom']}}</p>
                {% for i in sondes %}
                      
                   
                    <li>Sonde : {{ i.sonde_id }} Status : {{ i.sonde_status }} <a href="/sonde/data/{{ i.sonde_id }}"> data </a> </li> 
                {% endfor %}
                {% else %}
                <p>Not logged yet</p>
                {% endif %}
                </div>
        


{% endblock %}<ul>
    
</ul>